<%include ../partials/header %>
<h1>This is index of workouts</h1>
<a href="/workouts/new">Add a workout</a>
<div class="uidivider"></div>   
<% workouts.forEach(function(workout){ %>
<div class="workoutlisted">
    <%=workout.exercisedate.toDateString().substr(4,7)%>
   <div class="workoutname"><%=workout.exercise %>:</div>
   <div class="workoutdata"><%=workout.weight%> lbs</div>
   <div class="workoutdata"><%=workout.reps %> reps</div>
   <div class="workoutdata"><%=workout.sets %> sets</div>
</div>
<% }) %>

<%include ../partials/footer %>
