<%include ../partials/header %>
<h1>This is index of workouts</h1>
<div>
    <p id="add">Add Exercise</p>
    <form id="newliftform" class="hidden" action="/workouts" method="POST">
        <select class="smallinput" name="workout[exercise]">
        <option value="default">Select</option>
        <option value="squat">Squat</option>
        <option value="deadlift">Deadlift</option>
        <option value="pullups">Pullups</option>
        <option value="pushups">Pushups</option>
        <option value="chinups">Chinups</option>
        <option value="OHP-DB">OHP-DB</option>
        <option value="OHP-BB">OHP-BB</option>
        <option value="Bench DB">Bench DB</option>
        <option value="Bench BB">Bench BB</option>
        </select>
        <input class="smallinput" type="number" name="workout[weight]" id="weight" placeholder="Weight" required>
        <input class="smallinput" type="number" name="workout[reps]" placeholder="Reps" required>
        <input class="smallinput" type="number" name="workout[sets]" placeholder="Sets" required>
        <input class="smallinput" type="date" name="workout[exercisedate]" required>
        <input id="submitnew" type="submit">
    </form>
</div>
<br>
<div class="uidivider"></div>   


<br>
<h3>View Lifts By Date</h3>
<h5>Select Date (or range) to view below</h5>
<form action="/workouts/date" method="POST">
    <label for="datestart">Start Date</label>
    <input type="date" name="datestart" required>
    <label for="datestart">End Date - optional. If blank will return one day</label>
    <input type="date" name="dateend">
    <input type="submit">
</form>

<br>
<h3>View Lifts By Type</h3>
<h5>Select Date (or range) to view below</h5>
<form action="/workouts/type" method="POST">
        <select class="smallinput" name="workout[exercise]">
        <option value="default">Select</option>
        <option value="squat">Squat</option>
        <option value="deadlift">Deadlift</option>
        <option value="pullups">Pullups</option>
        <option value="pushups">Pushups</option>
        <option value="chinups">Chinups</option>
        <option value="OHP-DB">OHP-DB</option>
        <option value="OHP-BB">OHP-BB</option>
        <option value="Bench DB">Bench DB</option>
        <option value="Bench BB">Bench BB</option>
        </select>
    <input type="submit">
</form>


<div class="uidivider"></div>   
<h3>All Lifts</h3>
<% workouts.forEach(function(workout){ %>
<% var monthNames=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']%>
<%
var m = monthNames[workout.exercisedate.getMonth()]
var d = workout.exercisedate.getDate()
var y = workout.exercisedate.getFullYear()
%>
<div class="workoutlisted">
    <% if(workout.exercisedate){%>
    <div class="workoutdate"><a href="/workouts/<%= workout._id%>/edit"><%=d+' '+m+' '+y%></a></div>
    <%} else {%>
   <div class="workoutdate"><a href="/workouts/<%= workout._id%>/edit">+</a></div>
    <%}%>
   <div class="workoutname"><%=workout.exercise %>:</div>
   <div class="workoutdata"><%=workout.weight%> lbs</div>
   <div class="workoutdata"><%=workout.reps %> reps</div>
   <div class="workoutdata"><%=workout.sets %> sets</div>

</div>


<% }) %>

<script src="/js/newworkout.js"></script>
<%include ../partials/footer %>
