<%include ../partials/header %>
<h1>Show Workouts for Date</h1>

<h3>All Lifts</h3>
<% workouts.forEach(function(workout){ %>
<div class="workoutlisted">
    <% if(workout.exercisedate){%>
    <div class="workoutdate"><a href="/workouts/<%= workout._id%>/edit"><%=d+' '+m+' '+y%></a></div>
    <%} else {%>
    <%}%>
   <div class="workoutdate"><a href="/workouts/<%= workout._id%>/edit">+</a></div>
   <div class="workoutname"><%=workout.exercise %>:</div>
   <div class="workoutdata"><%=workout.weight%> lbs</div>
   <div class="workoutdata"><%=workout.reps %> reps</div>
   <div class="workoutdata"><%=workout.sets %> sets</div>
    <%})%>
</div>



<%include ../partials/footer %>
