<%include ../partials/header %>
<h1>Show Workouts for Type</h1>

<h3>All <%= lifttype.toUpperCase() %></h3>
<% workouts.forEach(function(workout){ %>
<% var monthNames=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']%>
<%
var m = monthNames[workout.exercisedate.getMonth()]
var d = workout.exercisedate.getDate()
var y = workout.exercisedate.getFullYear()
%>
<div class="workoutlisted">
    <% if(workout.exercisedate){%>
    <div class="workoutdate"><a href="/workouts/<%= workout._id%>/edit"><%=d+' '+m+' '+y%></a></div>
    <%} else {%>
    <%}%>
   <div class="workoutdata"><%=workout.weight%> lbs</div>
   <div class="workoutdata"><%=workout.reps %> reps</div>
   <div class="workoutdata"><%=workout.sets %> sets</div>
</div>
<%})%>
<br>
<div class="uidivider"></div>   


<script src="/js/newworkout.js"></script>
<%include ../partials/footer %>
